* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #004d00; /* Verde escuro */
    color: #fff;
}

header {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#logo {
    width: 250px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 60px;
}

nav ul li a {
    text-decoration: NONE;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

nav ul li a:hover {
    border-bottom: 2px solid black;
}

#perfil {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: solid 3px;
    padding: 3px;
}
main {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Arial Black', sans-serif;
    color: #fff;
}

.turmas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.turma {
    background-color: #ff00c7; /* Magenta brilhante */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: white;
}

.turma span {
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.turma p {
    font-size: 18px;
}
